{% extends "base.html" %}
{% load staticfiles %}

{% block page_name %}{% block breadcrumb %}
標記工具
{% endblock %}{% endblock %}

{% block page_subname %}
想標什麼，就標什麼
{% endblock %}

{% block main_content %}
        {% comment %}
        <div class="github-fork-ribbon-wrapper left">
            <div class="github-fork-ribbon">
                <a href="https://github.com/amigcamel/LopeAnnotator.git" target="_blank">Fork me on GitHub</a>
            </div>
        </div>
        {% endcomment %}
    
        <div class="row">
            {% comment %}
            <div class="col-lg-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#distPie" data-intro="檢視當前用戶目前的標記分佈">標記分佈</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#postDist">標記狀態</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#freqDist">詞頻分佈</button>
            </div>
            {% endcomment %}
            <div class="col-lg-12" style="padding-top:10px;">
                <span>字體大小</span>
                <div id="font-slider"></div>
            </div>

        </div>

    <br>
    <br>
    <div id="tag-panel-wrapper"></div>
    <div id="hb-tag_settings"></div>
    <div class="row _main">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-default btn-sm page-nav" data-val='-1'><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm"><span class="input-group-btn"><button class="btn btn-default btn-sm" data-toggle="modal" data-target="#postListModal"><span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        <input type="number" class="form-control" id="goToPage" placeholder="" data-intro="直接輸入到達指定頁碼">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-sm page-nav" data-val='1' style="float:right"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div id="cand_text" data-intro="選取要標記的字串後，標記選項即會跳出"></div>
            <br> 
            <button id="hidePost" class="btn btn-danger">刪除此文</button>
        </div>
        <div class="col-md-6">
            <div id='cat-box' data-intro="這裡顯示您已標記的字串，在該字串上點兩下即可刪除"></div>
            {% comment %}
            <hr>
            <div id="droppable" class="dp" data-intro="將字串拖拉至此亦可刪除（與在該字串上點兩下功能相同）">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
            {% endcomment %}

            <a id="tagger" data-featherlight="#senti_opts" class="hide"></a>

        </div>
    </div>

    <div id="senti_opts" class="lightbox">
        <h3 style="text-align:center">
            <div id="output"></div>
        </h3>
        <hr>
        <div id="options"></div>
    </div>

{% endblock main_content %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> #}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static "js/featherlight.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'js/handlebars-v3.0.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>

    {# jqPlot #}
    <script src="{% static 'jqPlot/jquery.jqplot.min.js' %}"></script>
    <script src="{% static 'jqPlot/plugins/jqplot.pieRenderer.min.js' %}"></script>
    <script src="{% static 'jqPlot/plugins/jqplot.highlighter.min.js' %}"></script>


    <script>
    /*CopyRight عبد النور التومي 
    http://abdennour-insat.blogspot.com/2012/09/about-me.html
    */  
    function getSelectionText() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        }
        return text;
    };

    function remove_cue(tar) {
        if (window.confirm("確定刪除？")) {
            $('span.draggable').filter(function() {
                return $(this).text() === tar;
            }).hide("puff").delay(10).queue(function(){$(this).remove();}); 
            var data = {text_id: text_id, cue: tar, tag: tagType, subtag: tag, csrfmiddlewaretoken: '{{csrf_token}}'};
            $.post('{% url "api_remove_cue" %}', data, function(response) {
                senti_main(last_open_page);
                console.log(response);
            });
            {# hide and remove -- http://stackoverflow.com/a/10143347/1105489 #}
            }
        else {
            senti_main(last_open_page);
        };
    };

    function safeString(string) {
        return string.replace(/&quot;/g, '"').replace(/&gt;/g, '>').replace(/&lt;/g, '<')
    }

    function load_cand_text(text) {
        $('#cand_text').html(safeString(text));
    };

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }

    function patch_cat() {
        // var txt = cand_text.textContent;

        $.each(pairs_by_cat, function(key, value) {
            value.map(function(word) {
                // avoid things like "><"
                word = word.replace('>', '&gt;');
                word = word.replace('<', '&lt;');

                $('#cat-'+key).append('<span class="draggable label">'+word+'</span> ');
                
                var color = ref[tag][key][1],
                    re = new RegExp("(" + escapeRegExp(word) + ")", 'g'); 

                // console.log(re);
                cand_text = cand_text.replace(re, '<span class="hlw" style="border-radius:5px;background:'+color+'">$1</span>');
                return false;
            });
        });

        $('#cand_text').html(cand_text);
    };

    function senti_main(last_open_page) {
        var post_data = {'last_open_page': last_open_page, tag: tagType, subtag: tag, csrfmiddlewaretoken: "{{csrf_token}}"};
        $.post('{% url "get_cand_text" %}', post_data, function(data) {

            var json = JSON.parse(data);
            cand_text = json['cand_text'];

            cand_text = cand_text.replace(/>/g, '&gt;');
            cand_text = cand_text.replace(/</g, '&lt;');
            
            pairs = json['pairs'];

            //
            dic = {};
            for (var i = 0; i < ref[tag].length; i++) {
                dic[i] = [];
            };
            $.each(pairs, function(word, val) {
                dic[parseInt(val)].push(word);
            });
            pairs_by_cat = dic;
            //
            

            text_id = json['text_id'];

            console.log(text_id);

            $('#goToPage').val('').attr('placeholder', '目前頁面： '+last_open_page);
            load_cand_text(cand_text);

            if (last_open_page == 1 && last_open_page == total_page) {
                $('.page-nav').hide();
            }
            else if (last_open_page == 1) {
                $('.page-nav').hide();
                $('.page-nav[data-val="-1"]').hide();
                $('.page-nav[data-val="1"]').show();
            }            
            else if (last_open_page == total_page) {
                $('.page-nav[data-val="1"]').hide();
                $('.page-nav[data-val="-1"]').show();
            }
            else if (last_open_page > 1 && last_open_page < total_page) {
                $('.page-nav').show();
            }

            get_ref(tag);

            $.cookie('last_open_page', last_open_page);
            console.log(last_open_page);


            setTimeout(function() {
                // $(".draggable").draggable();
                $("#droppable").droppable({
                    drop: function (event, ui) {
                        var tar= ui.draggable.text();
                        remove_cue(tar);
                    }
                });
                $('.draggable').dblclick(function() {
                    var tar= $(this).text();
                    remove_cue(tar);
                });
            }, 500);

        });
    };

    function activateTagButton() {
        $('#options .btn').click(function() {
            var value = $(this).attr('data-val'),
                cue = $('#output').text(),
                data = {cue: cue, value: value, text_id: text_id, tag: tagType, subtag: tag, csrfmiddlewaretoken: '{{csrf_token}}'};

            $.post('{% url "api" %}', data, function(res) {
                if (res == 'ok') {
                    $('.featherlight-close').click();
                    senti_main(last_open_page);
                }
                else {
                    alert('系統異常，請重整頁面')
                }

            });
        })
    };

    function load_ref() {
        $.get('{% url "load_ref" %}', function(data) {
            _ref = JSON.parse(data);
            ref = Object();
            $.each(Object.keys(_ref), function(index, value) {
                obj = _ref[value];
                $.extend(ref, obj);

            $('.tag-type').click(function() {
                tagType = $(this).text();
                $.cookie('tagType', tagType);
                // $.removeCookie('tag');
                console.log(tagType);
                $(this).addClass('active').siblings().removeClass('active');
                $('.sub-panel').each(function() {
                    if ($(this).attr('id') == tagType) {
                        $(this).removeClass('hide');
                    }
                    else {
                        $(this).addClass('hide');
                    }
                });
            });

            $('.btn-subtag').click(function() {
                tag = $(this).text();
                $.cookie('tag', tag);
                console.log(tag);
                // $(this).addClass('active').siblings().removeClass('active');
                $(this).addClass('active');
                $('.btn-subtag').not(this).removeClass('active');
                senti_main(last_open_page);
            }); 


            });
        });

    };


    load_ref();

    last_open_page = parseInt($.cookie('last_open_page'));
    text_sel = ''

    if (isNaN(last_open_page)) {
        last_open_page = 1;
        $.cookie('last_open_page', 1);
        console.log('initialize cookie: last_open_page set to 1');
    };

    console.log('last_open_page is: '+last_open_page);

    $('.page-nav').click(function() {
        $('#cat-box').css('top', 0);
        var val = $(this).attr('data-val');
        last_open_page += parseInt(val);
        senti_main(last_open_page);
    })

    
   $('#cand_text').mouseup(function (e){
       text_sel = getSelectionText()
       text_sel = $.trim(text_sel)
       var max_len = 10;
       if (text_sel != '') {
           if (text_sel.length > max_len ) {
               alert('選擇的字串長度不可以超過'+max_len);
               }
           else {

                $("#output").text(text_sel);
                $('#tagger').click();
                $('input[name="optradio"]:checked').prop('checked', false);

               }
           }
      })


    $("input[name='optradio']").change(function() {
        var senti_val = $('input[name="optradio"]:checked').val();
        console.log(senti_val);

        $('#id_tag').val(senti_val);

    });

    $('#goToPage').keydown(function (e){
        if(e.keyCode == 13){
            if ( $(this).val() < 1 || $(this).val() > total_page ) {
                alert('數字需在 0 ~ '+total_page+' 之間')
            }
            else {
                last_open_page = parseInt($(this).val());
                senti_main(last_open_page);                
            }
        }
    });
    {# only allow integer input #}
    $("#goToPage").keyup(function() {
        $("#goToPage").val(this.value.match(/[0-9]*/));
    });

    {# hide post #}
    $('#hidePost').click(function() {
        var data = {post_id: text_id, csrfmiddlewaretoken: '{{csrf_token}}'};
        $.post('{% url "hide_post" %}', data, function(response) {
            if (response === 'ok') {
                if (confirm('確定刪除?')) {
                    $.removeCookie('last_open_page', null, {path: '/'});
                    location.reload();
                }
            }
        });
    });

    {# show post list #}
    // $('#postList').click(function() {
    //     alert('ok');
    // })

    $(function() {
        $.get('{% url "get_total_page" %}', function(data) {
            total_page = parseInt(data);
        });

        setTimeout(function() {
            tagType = $.cookie('tagType');
            tag = $.cookie('tag');

            if (tagType === undefined || tagType === '') {
                tagType = $('.tag-type').first().text();
            }
            if (tag === undefined || tag === '') {
                tag = $(".btn-subtag").first().text();
            }

            $('.tag-type').filter(function() {
                return $(this).text() === tagType;
            }).click();

            $('.btn-subtag').filter(function() {
                return $(this).text() === tag;
            }).click();
            catBoxInitTop = $('._main').offset().top;
        }, 500);
    });

    $("#font-slider").slider({
        value: 14,
        min: 6,
        max: 36,
        step: 1,
        slide: function (event, ui) {
            $('#cand_text').css('font-size', ui.value);
            $('#cat-box').css('top', 0);
        }
    });

    {# make cat-box always visible: http://stackoverflow.com/a/27630297/1105489 #}    


    setTimeout(function() {
        $(window).on('scroll', function() {
            var windowCurrTop = $(window).scrollTop(),
                // docBottom = $(document).height(),
                catBoxCurrTop = $('#cat-box').offset().top;
                // catBoxCurrBotttom = catBoxCurrTop + $('#cat-box').height();
            // console.log(catBoxCurrTop, windowCurrTop, catBoxCurrBotttom, docBottom);

            if (catBoxCurrTop != windowCurrTop) {
                if (windowCurrTop > catBoxInitTop ) {
                    console.log(catBoxCurrTop, catBoxInitTop, windowCurrTop);
                    setTimeout(function() {
                        $('#cat-box').offset({'top': windowCurrTop});
                    }, 200);
                }
            }
        });
    }, 700);


    $('#cat-box').draggable({
        axis: "y",
        containment: '._main'
    });

    $(".modal-wide").on("show.bs.modal", function() {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });


    $("._main").on('mouseenter', '.hlw', function() {
        var cue = $(this).text();
        $('.draggable.label:contains("'+cue+'")').css('opacity', '1').css('z-index', '444').css('position', 'relative');
        $('.draggable.label:not(:contains("'+cue+'"))').css('opacity', '0.3');
    });

    $("._main").on('mouseleave', '.hlw', function() {
        $('.draggable.label').css('opacity', '1');
        $('#cat-box').css('opacity', '1');
    });

    </script>
    {% include 'ref.html' %}



{% endblock extra_js %}

{% block extra_css %}
    <style>
    #font-slider {
        float: right;
        width: 80%;
    }
    #font-slider.ui-slider-horizontal {
        height: 1em;
    }

    .ui-slider .ui-slider-handle {
        width: 1.4em !important;
        height: 1.4em !important;
    }

    .lightbox {
        display: none;
    }
    .row {
        padding: 20px;
    }
    a:active, a:visited, a:link {
        color:inherit; 
        text-decoration:none
    }

    .draggable {
        cursor: pointer; 
        font-size:130%;
        background:#E5E4E2;
        color: black;
        line-height: 2;
        border-radius:5px;
        /*padding:5px;*/
    }

    #cand_text {
        line-height: 200%;
    }

    .dp {
        vertical-align: middle;
        display: inline-block;
        width: 230px;
        height: 100px;
        line-height: 100px;
        margin: 0 10px 0;
        text-align: center;
        font-size: 60px;
        font-weight: normal;
        border-radius: 60px; 
        background-color: none;
    }

    .cat {
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 10px;
    }

    #cat-box {
        cursor: move;
        zoom: 1;
    }

    .highlight {
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 1px;
    }

    .modal.modal-wide .modal-dialog {
      width: 90%;
    }
    .modal-wide .modal-body {
      overflow-y: auto;
      min-height: 100px;
    }

    .cat-zoom {
        position: absolute;
        top: 0;
        right: 0;

    }
    .cat-zoom button {
        background: transparent;
        border: 0;
    }

    .featherlight {
        position: relative;
        z-index: 99999 !important;
    }

    .post_list_row {
        cursor: pointer;
    }

    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/featherlight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jqPlot/jquery.jqplot.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
{% endblock extra_css %}

{% comment %}

document.ready 重複
頁數起始與結束之值
url hardcode
重複標記顏色問題
remove_cue後無需reload cand_text
上下篇and goToPage validator
修改標記（draggable）
修改所有news開頭為/的id
加上顏色後變色並持續一段時間
{% endcomment %}
