{% extends "base.html" %}
{% load staticfiles %}

{% block page_name %}{% block breadcrumb %}
標記工具
{% endblock %}{% endblock %}

{% block page_subname %}
{#想標什麼，就標什麼#}
{% endblock %}

{% block main_content %}
        {% comment %}
        <div class="github-fork-ribbon-wrapper left">
            <div class="github-fork-ribbon">
                <a href="https://github.com/amigcamel/LopeAnnotator.git" target="_blank">Fork me on GitHub</a>
            </div>
        </div>
        {% endcomment %}
    
        <div class="row">
            {% comment %}
            <div class="col-lg-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#distPie" data-intro="檢視當前用戶目前的標記分佈">標記分佈</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#postDist">標記狀態</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#freqDist">詞頻分佈</button>
            </div>
            {% endcomment %}
            <div class="col-lg-12" style="padding-top:10px;">
                <span>字體大小</span>
                <div id="font-slider"></div>
            </div>

        </div>

    <br>
    <br>
    <div id="tag-panel-wrapper"></div>
    <div id="hb-tag_settings"></div>
    <div class="row _main">
        <div class="col-md-6">
            <div class="clearfix"></div>
            <div id="paginator"></div>
            <div id="cand_text" data-intro="選取要標記的字串後，標記選項即會跳出"></div>
            <br> 
            <button id="btn-remove-post" class="btn btn-danger">刪除此文</button>
        </div>
        <div class="col-md-6">
            <div id='cat-box' data-intro="這裡顯示您已標記的字串，在該字串上點兩下即可刪除"></div>
            {% comment %}
            <hr>
            <div id="droppable" class="dp" data-intro="將字串拖拉至此亦可刪除（與在該字串上點兩下功能相同）">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
            {% endcomment %}
            <a id="tagger" data-featherlight="#senti_opts" class="hide"></a>
        </div>
    </div>

    <div id="senti_opts" class="lightbox">
        <h3 style="text-align:center">
            <div id="output"></div>
        </h3>
        <hr>
        <div id="options"></div>
    </div>

{% endblock main_content %}

{% block extra_js %}
    <script src="https://cdn.rawgit.com/lyonlai/bootstrap-paginator/master/src/bootstrap-paginator.js"></script>
    <script src="{% static 'js/handlebars-v3.0.0.js' %}"></script>
    <script>
    {# get tag_settigns, should always be loaded first #}
    $.post('{% url "controls" %}', {command: 'get_tag_settings'}, function(resp) {
        tag_settings = JSON.parse(resp);
    });
    </script>

    {% verbatim %}
        {# template for "category box" #}
        <script id="cat-template" type="text/x-handlebars-template">
                {{#each objects}}
                    <div class="cat" id="{{this.[0]}}" style="background:{{this.[2]}}">
                        <h4 style="text-align:center;">{{this.[1]}}</h4>
                    </div>
                {{/each}}
        </script>

        {# template for pop up options #}
        <script id="opt-template" type="text/x-handlebars-template">
            {{#each objects}}
                <button id={{this.[0]}} class="btn btn-lg box" style="background:{{this.[2]}}">{{this.[1]}}</button>
            {{/each}}
        </script>

        {# template 標記設定 #}
        <script id="template-tag_settings" type="text/x-handlebars-template">
            <div class="panel panel-default">
                <div class="panel-body">
                    標記設定
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        {{#each objects}}
                            <button id="{{this.catid}}" class="btn btn-default tag-type">{{this.cat}}</button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </script>

        <script>
            function get_ref(catid) {

                var tags = null;
                $.each(tag_settings, function(idx, obj) {
                    if (catid == obj.catid) {
                        tags = obj.tags;
                        return
                    }
                });

                // ender template for "category box"
                var catSource   = $("#cat-template").html(),
                    catTemplate = Handlebars.compile(catSource),
                    catHtml = catTemplate({objects: tags});
                $('#cat-box').html(catHtml);

                // render template for pop up options
                var optSource   = $("#opt-template").html(),
                    optTemplate = Handlebars.compile(optSource),
                    optHtml = optTemplate({objects: tags});
                $('#options').html(optHtml);

                patch_cat();

                // zoom-in functions for "category box"
                var catZoom = '<div class="cat-zoom"><button class="btn btn-default" data-scale="0.1"><span class="glyphicon glyphicon-zoom-in"></span></button><button class="btn btn-default" data-scale="-0.1"><span class="glyphicon glyphicon-zoom-out"></span></button></div>';
                $('.cat').first().append(catZoom);
                
            };

            $('#cat-box').on('click', '.cat-zoom button', function() {
                var scale = parseFloat($(this).attr('data-scale')),
                    curScale = parseFloat($('#cat-box').css('zoom'));

                $('#cat-box').css('zoom', curScale+scale);
                $('.cue').css('z-index', -9999);
            });
        </script>
    {% endverbatim %}

    <script>
    // render tag_settings
    setTimeout(function() {
        var source = $('#template-tag_settings').html(),
            template = Handlebars.compile(source);
        $('#hb-tag_settings').html(template({objects: tag_settings}));    
    }, 400)
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static "js/featherlight.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>

    <script>
    /*CopyRight عبد النور التومي 
    http://abdennour-insat.blogspot.com/2012/09/about-me.html
    */  
    function getSelectionText() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        }
        return text;
    };

    function safeString(string) {
        return string.replace(/&quot;/g, '"').replace(/&gt;/g, '>').replace(/&lt;/g, '<')
    }

    function load_cand_text(text) {
        $('#cand_text').html(safeString(text));
    };

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }

    // get color by tag ID
    function getColor(tagid) {
        $.each(tag_settings, function(k2, v2) {
            if (catid == v2.catid) {
                $.each(v2.tags, function(k3, v3) {
                    if (tagid == v3[0]) {
                        color = v3[2];
                        return false;
                    }
                })
                return false;
            }
        });
        return color;
    };

    // paint color on cat-box and cand-text
    function patch_cat() {
        // var txt = cand_text.textContent;
        var postData = {command: 'get_cues', catid: catid, postid: postid};
        $.post('{% url "controls" %}', postData, function(resp) {
            cues = JSON.parse(resp);
            $.each(cues, function(key, value) {
                value.map(function(word) {
                    // avoid things like "><"
                    word = word.replace('>', '&gt;');
                    word = word.replace('<', '&lt;');
                    $('#'+key).append('<span class="cue label">'+word+'</span> ');
                    
                    var color = getColor(key),
                        re = new RegExp("(" + escapeRegExp(word) + ")", 'g'); 

                    // console.log(re);
                    cand_text = cand_text.replace(re, '<span class="hlw" style="border-radius:5px;background:'+color+'">$1</span>');
                    return false;
                });
            });

            $('#cand_text').html(cand_text);
        });

    };

    function senti_main(last_open_page) {
        // var post_data = {'last_open_page': last_open_page, tag: tagType, subtag: tag, csrfmiddlewaretoken: "{{csrf_token}}"};
        var postData = {command: 'get_post', idx: last_open_page-1};
        $.post('{% url "controls" %}', postData, function(resp) {

            var json = JSON.parse(resp);
                cand_text = json.post;
            postid = json.postid;
            totalPages = json.total_page;
            postid = json.postid;
            cand_text = cand_text.replace(/>/g, '&gt;');
            cand_text = cand_text.replace(/</g, '&lt;');
            cand_text = cand_text.replace(/(?:\r\n|\r|\n)/g, '<br />');  //replace all line breaks in a string with <br /> tags, ref:http://stackoverflow.com/a/784547
            load_cand_text(cand_text);
            get_ref(catid);

            $.cookie('last_open_page', last_open_page);
            // console.log(last_open_page);

        });
    };

    $('body').on('dblclick', '.cue', function() {
        var cue = $(this).text(),
            tagid = $(this).closest('.cat').attr('id'),
            postData = {command: 'remove_cue', catid: catid, postid: postid, tagid: tagid, cue: cue};
        $.post('{% url "controls" %}', postData, function(resp) {
            if (confirm('確認刪除？')) {
                senti_main(last_open_page);
            }
        });
    });

    // get catid from cookies
    catid = $.cookie('catid')
    if (catid) {
        console.log(catid);
    } else {
        catid = $('.tag-type:first').attr('id');
    }

    // add "active" to tag (must use setTimeout)
    setTimeout(function() {
        $('#'+catid).addClass('active');
    }, 500)

    // get last_open_page from cookies
    last_open_page = parseInt($.cookie('last_open_page'));
    if (isNaN(last_open_page)) {
        last_open_page = 1;
        $.cookie('last_open_page', last_open_page);
        console.log('initialize cookie: last_open_page set to 1');
    };

    // important! this function should be executed in the first priority
    senti_main(last_open_page);

    // pagination
    setTimeout(function() {
        $('#paginator').bootstrapPaginator({
            currentPage: last_open_page,
            totalPages: totalPages,
            numberOfPages: 5,
            aligment: 'center',
            onPageClicked: function(e, originalEvent, type, page) {
                senti_main(page);
                last_open_page = page;
                $.cookie('last_open_page', page);
            }
        });
    }, 500);

    // remove post
    $('#btn-remove-post').click(function() {
        if (confirm('確定刪除？')) {
            $.post('{% url "controls" %}', {command: 'remove_post', postid: postid}, function(resp) {
                clearAllCookies()
                location.reload();
            });
        }
    })
  
    // event for tagging (pop up box)
    $('body').on('click', '#options > button', function() {
        var tagid = $(this).attr('id'),
            cue = $('#output').text(),
            postData = {command: 'add_cue', cue: cue, tagid: tagid,  postid: postid, catid: catid};

        $.post('{% url "controls" %}', postData, function(res) {
            if (res == 1) {
                $('.featherlight-close').click();
                senti_main(last_open_page);
            } else {
                alert('系統異常，請重整頁面')
            }

        });
    });

    function load_ref() {
        $.get('{% url "load_ref" %}', function(data) {
            _ref = JSON.parse(data);
            ref = Object();
            $.each(Object.keys(_ref), function(index, value) {
                obj = _ref[value];
                $.extend(ref, obj);
            });
        });
    };

    load_ref();

    // tag-type should be renamed as "tag"
    $('body').on('click', '.tag-type', function() {
        catid = $(this).attr('id')
        $(this).addClass('active').siblings().removeClass('active');
        $.cookie('catid', catid);
        // get_ref(catid);
        senti_main(last_open_page);
    });

    text_sel = ''
    
   $('#cand_text').mouseup(function (e){
       text_sel = getSelectionText()
       text_sel = $.trim(text_sel)
       var max_len = 10;
       if (text_sel != '') {
           if (text_sel.length > max_len ) {
               alert('選擇的字串長度不可以超過'+max_len);
               }
           else {

                $("#output").text(text_sel);
                $('#tagger').click();
                $('input[name="optradio"]:checked').prop('checked', false);

               }
           }
      })


    $("input[name='optradio']").change(function() {
        var senti_val = $('input[name="optradio"]:checked').val();
        console.log(senti_val);

        $('#id_tag').val(senti_val);

    });

    {# show post list #}
    // $('#postList').click(function() {
    //     alert('ok');
    // })

    $(function() {
        $.get('{% url "get_total_page" %}', function(data) {
            total_page = parseInt(data);
        });

        setTimeout(function() {
            tagType = $.cookie('tagType');
            tag = $.cookie('tag');

            if (tagType === undefined || tagType === '') {
                tagType = $('.tag-type').first().text();
            }
            if (tag === undefined || tag === '') {
                tag = $(".btn-subtag").first().text();
            }

            $('.tag-type').filter(function() {
                return $(this).text() === tagType;
            }).click();

            $('.btn-subtag').filter(function() {
                return $(this).text() === tag;
            }).click();
            catBoxInitTop = $('._main').offset().top;
        }, 500);
    });

    $("#font-slider").slider({
        value: 14,
        min: 6,
        max: 36,
        step: 1,
        slide: function (event, ui) {
            $('#cand_text').css('font-size', ui.value);
            $('#cat-box').css('top', 0);
        }
    });

    {# make cat-box always visible: http://stackoverflow.com/a/27630297/1105489 #}    


    setTimeout(function() {
        $(window).on('scroll', function() {
            var windowCurrTop = $(window).scrollTop(),
                // docBottom = $(document).height(),
                catBoxCurrTop = $('#cat-box').offset().top;
                // catBoxCurrBotttom = catBoxCurrTop + $('#cat-box').height();
            // console.log(catBoxCurrTop, windowCurrTop, catBoxCurrBotttom, docBottom);

            if (catBoxCurrTop != windowCurrTop) {
                if (windowCurrTop > catBoxInitTop ) {
                    console.log(catBoxCurrTop, catBoxInitTop, windowCurrTop);
                    setTimeout(function() {
                        $('#cat-box').offset({'top': windowCurrTop});
                    }, 200);
                }
            }
        });
    }, 700);


    $('#cat-box').draggable({
        axis: "y",
        containment: '._main'
    });

    $(".modal-wide").on("show.bs.modal", function() {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });


    $("._main").on('mouseenter', '.hlw', function() {
        var cue = $(this).text();
        $('.cue.label:contains("'+cue+'")').css('opacity', '1').css('z-index', '444').css('position', 'relative');
        $('.cue.label:not(:contains("'+cue+'"))').css('opacity', '0.3');
    });

    $("._main").on('mouseleave', '.hlw', function() {
        $('.cue.label').css('opacity', '1');
        $('#cat-box').css('opacity', '1');
    });

    </script>
{% endblock extra_js %}

{% block extra_css %}
    <style>
    #font-slider {
        float: right;
        width: 80%;
    }
    #font-slider.ui-slider-horizontal {
        height: 1em;
    }

    .ui-slider .ui-slider-handle {
        width: 1.4em !important;
        height: 1.4em !important;
    }

    .lightbox {
        display: none;
    }
    .row {
        padding: 20px;
    }
    a:active, a:visited, a:link {
        color:inherit; 
        text-decoration:none
    }

    .cue {
        cursor: pointer; 
        font-size:130%;
        background:#E5E4E2;
        color: black;
        line-height: 2;
        border-radius:5px;
        /*padding:5px;*/
    }

    #cand_text {
        line-height: 200%;
    }

    .dp {
        vertical-align: middle;
        display: inline-block;
        width: 230px;
        height: 100px;
        line-height: 100px;
        margin: 0 10px 0;
        text-align: center;
        font-size: 60px;
        font-weight: normal;
        border-radius: 60px; 
        background-color: none;
    }

    .cat {
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 10px;
    }

    #cat-box {
        cursor: move;
        zoom: 1;
    }

    .highlight {
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 1px;
    }

    .modal.modal-wide .modal-dialog {
      width: 90%;
    }
    .modal-wide .modal-body {
      overflow-y: auto;
      min-height: 100px;
    }

    .cat-zoom {
        position: absolute;
        top: 0;
        right: 0;

    }
    .cat-zoom button {
        background: transparent;
        border: 0;
    }

    .featherlight {
        position: relative;
        z-index: 99999 !important;
    }

    .post_list_row {
        cursor: pointer;
    }

    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/featherlight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jqPlot/jquery.jqplot.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />

    {# bootstrap paginator css, adopted from http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css#}
    <style>
        .pagination {
            margin: 20px 0;
        }

        .pagination ul {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-left: 0;
            margin-bottom: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0,  0,  0,  0.05);
            -moz-box-shadow: 0 1px 2px rgba(0,  0,  0,  0.05);
            box-shadow: 0 1px 2px rgba(0,  0,  0,  0.05);
        }

        .pagination ul>li {
            display: inline;
        }

        .pagination ul>li>a, .pagination ul>li>span {
            float: left;
            padding: 4px 12px;
            line-height: 20px;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-left-width: 0;
        }

        .pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active>span {
            background-color: #f5f5f5;
        }

        .pagination ul>.active>a, .pagination ul>.active>span {
            color: #999999;
            cursor: default;
        }

        .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
            color: #999999;
            background-color: transparent;
            cursor: default;
        }

        .pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
            border-left-width: 1px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination-centered {
            text-align: center;
        }

        .pagination-right {
            text-align: right;
        }

        .pagination-large ul>li>a, .pagination-large ul>li>span {
            padding: 11px 19px;
            font-size: 17.5px;
        }

        .pagination-large ul>li:first-child>a, .pagination-large ul>li:first-child>span {
            -webkit-border-top-left-radius: 6px;
            -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
            -webkit-border-bottom-left-radius: 6px;
            -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
        }

        .pagination-large ul>li:last-child>a, .pagination-large ul>li:last-child>span {
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topright: 6px;
            border-top-right-radius: 6px;
            -webkit-border-bottom-right-radius: 6px;
            -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
        }

        .pagination-mini ul>li:first-child>a, .pagination-small ul>li:first-child>a, .pagination-mini ul>li:first-child>span, .pagination-small ul>li:first-child>span {
            -webkit-border-top-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
        }

        .pagination-mini ul>li:last-child>a, .pagination-small ul>li:last-child>a, .pagination-mini ul>li:last-child>span, .pagination-small ul>li:last-child>span {
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
        }

        .pagination-small ul>li>a, .pagination-small ul>li>span {
            padding: 2px 10px;
            font-size: 11.9px;
        }

        .pagination-mini ul>li>a, .pagination-mini ul>li>span {
            padding: 0 6px;
            font-size: 10.5px;
        }

        .pager {
            margin: 20px 0;
            list-style: none;
            text-align: center;
            *zoom: 1;
        }
        .pager:before, .pager:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

        .pager li>a, .pager li>span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }

        .pager li>a:hover, .pager li>a:focus {
            text-decoration: none;
            background-color: #f5f5f5;
        }

        .pager .next>a, .pager .next>span {
            float: right;
        }

        .pager .previous>a, .pager .previous>span {
            float: left;
        }

        .pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
            color: #999999;
            background-color: #fff;
            cursor: default;
        }

        /* change cursor to pointer */
        #paginator > ul > li {
            cursor: pointer;
        }

    </style>
{% endblock extra_css %}

{% comment %}

document.ready 重複
頁數起始與結束之值
url hardcode
重複標記顏色問題
remove_cue後無需reload cand_text
修改標記（cue）
修改所有news開頭為/的id
加上顏色後變色並持續一段時間
{% endcomment %}
