<div class="modal fade bs-modal-sm" id="accountModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>

            <div class="bs-example bs-example-tabs">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#signin">登入</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#signup">註冊</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#why">為什麼要註冊?</a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in" id="why">
                        <p>註冊讓您有個人資料儲存空間，以及可自訂標記</p>
                    </div>

                    <div class="tab-pane fade active in" id="signin">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "userid">Email:</label>

                                    <div class="controls">
                                        <input class="input-medium" id="userid"
                                        name="userid" placeholder=
                                        "lope@ntu.edu.tw" required="" type=
                                        "text">
                                    </div>
                                </div><!-- Password input-->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "passwordinput">密碼:</label>

                                    <div class="controls">
                                        <input class="input-medium" id=
                                        "passwordinput" name="passwordinput"
                                        placeholder="********" required=""
                                        type="password">
                                    </div>
                                </div><!-- Button -->

                                <div class="control-group">
                                    <label class="control-label" for="signin"></label>

                                    <div class="controls">
                                        <button class="btn btn-success" id=
                                        "btn-signin" name="signin">登入</button>
                                    </div>
                                </div><br>

                                <div class="alert alert-danger hide">
                                    <span class=
                                    "glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    <span class='loginMsg'></span>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "Email">Email:</label>

                                    <div class="controls">
                                        <input class="input-large" id="Email"
                                        name="Email" placeholder=
                                        "lope@ntu.edu.tw" required="" type=
                                        "text">
                                    </div>
                                </div><!-- Password input-->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "password">密碼:</label>

                                    <div class="controls">
                                        <input class="input-large" id=
                                        "password" name="password" placeholder=
                                        "********" required="" type="password">
                                        {# <em>1-8 Characters</em> #}
                                    </div>
                                </div><!-- Text input-->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "reenterpassword">密碼（再次輸入）:</label>

                                    <div class="controls">
                                        <input class="input-large" id=
                                        "reenterpassword" name=
                                        "reenterpassword" placeholder=
                                        "********" required="" type="password">
                                    </div>
                                </div><!-- Button -->

                                <div class="control-group">
                                    <label class="control-label" for=
                                    "btn-register"></label>

                                    <div class="controls">
                                        <button class="btn btn-success" id=
                                        "btn-register">註冊</button>
                                    </div>
                                </div><br>

                                <div class="alert alert-danger hide">
                                    <span class=
                                    "glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    <span class='loginMsg'></span>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type=
                "button">Close</button><br>
            </div>
        </div>
    </div>
</div>