<div id="senti_opts" class="lightbox">
    <h3 style="text-align:center">
        <div id="output"></div>
    </h3>
    <hr>
    <button class="btn btn-lg box happy" data-val=0>高興</button>
    <button class="btn btn-lg box angry" data-val=1>生氣</button>
    <button class="btn btn-lg box sad" data-val=2>悲傷</button>
    <button class="btn btn-lg box afraid" data-val=3>害怕</button>
    <button class="btn btn-lg box surprised" data-val=4>驚訝</button>
    <button class="btn btn-lg box positive" data-val=5>正面</button>
    <button class="btn btn-lg box negative" data-val=6>負面</button>
</div>
<div id="senti_opts2" class="lightbox">
    <h3 style="text-align:center">
        <div id="output2"></div>
    </h3>
    <hr>
    <button style="width:50px;" class="btn btn-lg happy" data-val=0>1</button>
    <button style="width:50px;" class="btn btn-lg angry" data-val=1>2</button>
    <button style="width:50px;" class="btn btn-lg sad" data-val=2>3</button>
    <button style="width:50px;" class="btn btn-lg afraid" data-val=3>4</button>
    <button style="width:50px;" class="btn btn-lg surprised" data-val=4>5</button>
    <button style="width:50px;" class="btn btn-lg positive" data-val=5>6</button>
    <button style="width:50px;" class="btn btn-lg negative" data-val=6>7</button>
</div>
<div id="senti_opts3" class="lightbox">
    <h3 style="text-align:center">
        <div id="output3"></div>
    </h3>
    <hr>
    <button style="width:65px;" class="btn btn-lg happy" data-val=0>1</button>
    <button style="width:65px;" class="btn btn-lg angry" data-val=1>2</button>
    <button style="width:65px;" class="btn btn-lg sad" data-val=2>3</button>
    <button style="width:65px;" class="btn btn-lg afraid" data-val=3>4</button>
    <button style="width:65px;" class="btn btn-lg surprised" data-val=4>5</button>
</div>