{% extends 'base.html' %}
{% load staticfiles %}
{% load senti_tag %}

{% block header %}
中文情緒標記
{% endblock header %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            標記設定
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-default tag-type">Emotion</button>
                <button type="button" class="btn btn-default tag-type">Stance</button>
            </div>
        </div>
        <div class="panel-footer sub-panel hide">
            <div class="btn-group tag-subtype">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-default page-nav" data-val='-1'><span class="glyphicon glyphicon-chevron-left"></span>上一篇</button>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="goToPage" placeholder="">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-default page-nav" data-val='1' style="float:right">下一篇<span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div id="cand_text"></div>
            <br> 
        </div>
        <div class="col-md-6">
            <div id='cat-box'></div>
            <hr>
            <div id="droppable" class="dp"><span class="glyphicon glyphicon-trash"></span></div>
            <a id="tagger" data-featherlight="#senti_opts" class="hide"></a>
            <a id="tagger2" data-featherlight="#senti_opts2" class="hide"></a>
            <a id="tagger3" data-featherlight="#senti_opts3" class="hide"></a>
        </div>
    </div>
    {% include 'update.html' %}
    {% include 'options.html' %}

{% endblock content %}

{% block extra_js %}
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> #}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static "js/featherlight.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>

    function catBox(json) {
        $.each(json, function(key, value) {
            $('#cat-box').append('<div class="cat" id="cat-'+key+'" style="background:'+value[2]+'" ><h4 style="text-align:center;">'+value[0]+'</h4></div>')
        });        
    };

    /*CopyRight عبد النور التومي 
    http://abdennour-insat.blogspot.com/2012/09/about-me.html
    */  
    function getSelectionText() {
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        }
        return text;
    };

    function remove_cue(tar) {
        if (window.confirm("確定刪除？")) {
            $('span.draggable').filter(function() {
                return $(this).text() === tar;
            }).hide("puff").delay(10).queue(function(){$(this).remove();}); 
            var data = {cue: tar, text_id: text_id, csrfmiddlewaretoken: '{{csrf_token}}'};
            $.post('/api_remove_cue', data, function(response) {
                senti_main(last_open_page);
                console.log(response);
            });
            {# hide and remove -- http://stackoverflow.com/a/10143347/1105489 #}
            }
        else {
            senti_main(last_open_page);
        };
    };

    function safeString(string) {
        return string.replace(/&quot;/g, '"').replace(/&gt;/g, '>').replace(/&lt;/g, '<')
    }

    function load_cand_text(text) {
        $('#cand_text').html(safeString(text));
    };

    function patch_cat(pairs_by_cat) {
        $.each(pairs_by_cat, function(key, value) {
            // console.log(value);
            value.map(function(word) {
                $('#cat-'+key).append('<span class="draggable" style="background:#E5E4E2;border-radius:5px;padding:5px;">'+word+'</span> ');
                return false;
            });
        });
    };

    function senti_main(last_open_page) {
        $.post('/get_cand_text/'+last_open_page, {csrfmiddlewaretoken: "{{csrf_token}}"}, function(data) {

            var json = JSON.parse(data),
                cand_text = json['cand_text'];
                pairs_by_cat = json['pairs_by_cat'];
            text_id = json['text_id'];

            console.log(text_id);

            $('#goToPage').val('').attr('placeholder', '目前頁面： '+last_open_page);
            load_cand_text(cand_text);

            if (tagType == 'Emotion') {
                var refName = 'senti_ref'
            }
            else if (tagType == 'Stance') {
                var refName = 'senti_ref2'
            }

            var post_data = {'refName': refName, csrfmiddlewaretoken: '{{csrf_token}}'};

            $.post('/get_ref', post_data, function(json) {
                var json = JSON.parse(json);
                $.each(json, function(key, value) {
                    $('.'+value[1]).css('background', value[2]);
                });
                $('#cat-box').empty();
                catBox(json);
                patch_cat(pairs_by_cat);
            });

            $.cookie('last_open_page', last_open_page);
            console.log(last_open_page);
            $(".draggable").draggable();
            $("#droppable").droppable({
                drop: function (event, ui) {
                    var tar= ui.draggable.text();
                    remove_cue(tar);
                }
            });

            $('.draggable').dblclick(function() {
                var tar= $(this).text();
                remove_cue(tar);
            });
        });
    };

    function addSubTagBtn(tagType, subTag) {
        $('.tag-subtype').empty();
        for (var i=0; i< subTag.length; i++) {
            $('.tag-subtype').append('<button class="btn btn-default" id="'+tagType+'-'+subTag[i]+'">'+subTag[i]+'</button>');
        }        
    };

    function selectSubtype(tagType) {
        $('[id^="'+tagType+'-"]').click(function() {
            tag = $(this).text();
            $.cookie('tag', tag);
            console.log(tag);
            $(this).addClass('active').siblings().removeClass('active');
        });
    };


    last_open_page = parseInt($.cookie('last_open_page'));
    text_sel = ''

    if (isNaN(last_open_page)) {
        last_open_page = 1;
        $.cookie('last_open_page', 1);
        console.log('initialize cookie: last_open_page set to 1');
    };

    console.log('last_open_page is: '+last_open_page);

    $('.page-nav').click(function() {
        var val = $(this).attr('data-val');
        last_open_page += parseInt(val);
        senti_main(last_open_page);
    })

    $(document).ready(function (){
       $('#cand_text').mouseup(function (e){
           text_sel = getSelectionText()
           text_sel = $.trim(text_sel)
           var max_len = 6
           if (text_sel != '') {
               if (text_sel.length > max_len ) {
                   alert('選擇的字串長度不可以超過'+max_len);
                   }
               else {
                    if (tagType == 'Emotion') {
                            if (tag == 'Emo' || tag == 'Mood') {
                                $("#output").text(text_sel);
                                $('#tagger').click();
                                $('input[name="optradio"]:checked').prop('checked', false);
                            }
                            else if (tag == 'Feeling' || tag == 'Attitude' || tag == 'Temperament' || tag == 'Personality') {
                                $("#output2").text(text_sel);
                                $('#tagger2').click();
                                $('input[name="optradio"]:checked').prop('checked', false);
                            }
                            else if (tag == 'Insult') {
                                $("#output3").text(text_sel);
                                $('#tagger3').click();
                                $('input[name="optradio"]:checked').prop('checked', false);
                            }
                        }
                   }
               }
          })
    });

    $("input[name='optradio']").change(function() {
        var senti_val = $('input[name="optradio"]:checked').val();
        console.log(senti_val);

        $('#id_tag').val(senti_val);

    });

    $('#senti_opts .btn').click(function() {
        var value = $(this).attr('data-val'),
            cue = $('#output').text(),
            data = {cue: cue, value: value, text_id: text_id, csrfmiddlewaretoken: '{{csrf_token}}'};
        $.post('/api', data, function() {
            $('.featherlight-close').click();
            senti_main(last_open_page);
        });
    })

    $('#goToPage').keydown(function (e){
        if(e.keyCode == 13){
            last_open_page = parseInt($(this).val());
            senti_main(last_open_page);
        }
    });

    $("#goToPage").keyup(function() {
        $("#goToPage").val(this.value.match(/[0-9]*/));
    });

    $('.tag-type').click(function() {
        tagType = $(this).text();
        $.cookie('tagType', tagType);
        $.removeCookie('tag');
        console.log(tagType);
        $(this).addClass('active').siblings().removeClass('active');
        $('.sub-panel').removeClass('hide');
        if (tagType === 'Emotion') {
            var subTag = 'Emo,Mood,Feeling,Attitude,Temperament,Personality,Insult'.split(',');
            addSubTagBtn(tagType, subTag);
            senti_main(last_open_page);
        }
        else if (tagType === 'Stance') {
            $('.sub-panel').addClass('hide');
            senti_main(last_open_page);
            // var subTag = '發話者,Speech event,立場詞,目標詞,明顯主觀,不明顯主觀,元話語,論辯cue'.split(',');
            // addSubTagBtn(tagType, subTag);
        };
        selectSubtype(tagType);
    });

    $( document ).ready(function() {
        var init_page = last_open_page-1
        
        tagType = $.cookie('tagType');
        tag = $.cookie('tag');

        senti_main(last_open_page);

        $('.tag-type').filter(function() {
            return $(this).text() === tagType;
        }).click();
        $('#'+tagType+'-'+tag).click();
    });

    </script>
{% endblock extra_js %}

{% block extra_css %}
    <style>
    .lightbox {
        display: none;
    }
    .row {padding: 20px;}
    a:active, a:visited, a:link {color:inherit; text-decoration:none}

    .draggable {cursor:move; font-size:150%;}
    #cand_text {line-height: 200%;}
    #joke {color:red;}
    #draggable {
        background: #78BA91;
        display:inline-block;
    }
    .dp {
        vertical-align: middle;
        display: inline-block;
        width: 230px;
        height: 100px;
        line-height: 100px;
        margin: 0 10px 0;
        text-align: center;
        font-size: 60px;
        font-weight: normal;
        border-radius: 60px; 
        background-color: none;
    }

    .cat {
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 10px;
    }

    .highlight {
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 1px;
    }

    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"></style>
    <link rel="stylesheet" type="text/css" href="{% static "css/featherlight.css" %}">
{% endblock extra_css %}

{% comment %}

document.ready 重複
頁數起始與結束之值
url hardcode
重複標記顏色問題
remove_cue後無需reload cand_text
上下篇and goToPage validator
修改標記（draggable）
修改所有news開頭為/的id
加上顏色後變色並持續一段時間
{% endcomment %}
