<div class="modal fade" id="userSetting">
    <div class="modal-dialog">

        <div class="modal-content">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#uploadFile">上傳文本</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#pasteText">貼上文本</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#modifyTag">增修標記</a>
                </li>
            </ul>


            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="uploadFile">
                        <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                            {{upload_text_form.as_p}}
                            <input class="btn btn-default" type="submit" name="uploadFile" value="上傳" />
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pasteText">
                        <form action="." method="post">{% csrf_token %} 
                            {{paste_text_form.as_p}} 
                            <input class="btn btn-default" type="submit" name="pasteText" value="貼上" />
                        </form>
                    </div>

                    <div class="tab-pane fade" id="modifyTag">
                        <form action="." method="post">{% csrf_token %} 
                            {{modify_tag_form.as_p}}
                            <input class="btn btn-default" type="submit" name="modifyTag" value="修改" />
                        </form>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>