{% extends 'base.html' %}

{% block main_content %}
<div id="h_tagdist" style="width:100%;margin: 0 auto"></div>
{% endblock main_content %}

{% block extra_js %}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-3d.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript">
		$(function () {
		    $('#h_tagdist').highcharts({
		        chart: {
			    	backgroundColor: null,
			    	credits: false,
		            type: 'pie',
		            options3d: {
		                enabled: true,
		                alpha: 45,
		                beta: 0
		            }
		        },
		        title: {
		            text: '已標記詞之分佈'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                depth: 35,
		                dataLabels: {
		                    enabled: true,
		                    format: '{point.name}'
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: '佔所有類別',
		            data: [
		                ['類別一', 45.0],
		                ['類別四', 26.8],
		                {
		                    name: '類別一',
		                    y: 12.8,
		                    sliced: true,
		                    selected: true
		                },
		                ['類別二', 8.5],
		                ['類別三', 6.9],
		            ]
		        }]
		    });
		});
	</script>
{% endblock extra_js %}