{% extends 'base.html' %}

{% block main_content %}
<div id="h_tagdist" style="width:100%;margin: 0 auto"></div>
{% endblock main_content %}

{% block extra_js %}
    <script>
    {# get tag_settigns, should always be loaded first #}
    $.post('{% url "controls" %}', {command: 'get_tag_settings'}, function(resp) {
        tag_settings = JSON.parse(resp);
    });

    function getColorByCatName(catname) {
    	$.each(tag_settings, function(idx, obj) {
			colorDic = {};
    		if (catname == obj.cat) {
    			$.each(obj.tags, function(idx, item) {
    				colorDic[item[1]] = item[2];
    			})
    			return false
    		}
    	});
    	return colorDic;
    };
    </script>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-3d.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript">
		function plotTagDist(catname, data) {
			var ele = $('<div></div>').uniqueId(),
				div = '#'+ele.attr('id');
			$('#h_tagdist').append(ele);

			{# set colors #}
			var colorDic = getColorByCatName(catname),
				colors = [];
			$.each(data, function(idx, item) {
				colors.push(colorDic[item[0]]);
			});
			Highcharts.setOptions({
				colors: colors
			});

		    $(div).highcharts({
		    	credits: {enabled: false},
		        chart: {
			    	backgroundColor: null,
		            type: 'pie',
		            options3d: {
		                enabled: true,
		                alpha: 45,
		                beta: 0
		            }
		        },
		        title: {
		            text: catname
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                depth: 35,
		                dataLabels: {
		                    enabled: true,
		                    format: '{point.name}'
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: '佔所有類別',
		            data: data
		        }]
		    });
		};

		$(function() {
			$.post('{% url "controls" %}', {command: 'pack_tagged_words'}, function(resp) {
				var tagdist = JSON.parse(resp);
				$.each(tagdist, function(k, v) {
					data = [];
					$.each(v, function(kk, vv) {
						data.push([kk, vv.length])
					});
					plotTagDist(k, data);
				});
			});
		});
	</script>
{% endblock extra_js %}