{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}

	<div class="row">
		<div class="col-md-12">
			<button id="add-cat" class="btn btn-success pull-right"><i class="fa fa-plus"></i> 新增類別</button>
		</div>
		<hr>
		<div id="hb-tag_settings"></div>

		<div class="col-md-12">
			<div class="pull-right">
				<button id="btn-save" class="btn btn-danger">儲存</button>
				<button id="btn-cancel" class="btn btn-info">取消</button>
			</div>
		</div>
	</div>

	
	{# context menu body #}
	<div id="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a src="#" class="del-tag">刪除</a></li>
			<li><a src="#" class="">更改文字</a></li>
		</ul>
	</div>

	{% verbatim %}
	    <script id="template-tag_settings" type="text/x-handlebars-template">
		    {{#each objects}}
				<div class="settings col-md-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 id="{{this.catid}}" class="box-title">{{this.cat}}</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool btn-del-cat">
									<i class="fa fa-remove"></i>
								</button>
							</div>
						</div>
						<div class="box-body box-tag">
							{{#each this.tags}}
								<a id="{{this.[0]}}" class="label label-default" style="background-color:{{this.[2]}}">{{this.[1]}}</a>
							{{/each}}
							<a class="label label-default label-tag-plus"><i class="fa fa-plus"></i></a>
						</div>    
					</div>
				</div>
			{{/each}}
	    </script>
	{% endverbatim %}

{% endblock main_content %}

{% block extra_css %}
    <link href='{% static "colorpicker/css/bootstrap-colorpicker.min.css" %}' rel=
    "stylesheet">
	<style type="text/css">
	.box-tag {
		line-height: 40px;
	}
	.box-tag > .label {
		font-size: 20px;
		background: white;
		border-style: dotted;
		border-width: 1px;
	}
	.box-tag > a.label:hover {
		color: inherit;
	}
	</style>
{% endblock extra_css %}


{% block extra_js %}
	<script src="{% static 'js/handlebars-v3.0.0.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.6/js/bootstrap-dialog.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-contextmenu/0.3.3/bootstrap-contextmenu.min.js"></script>
	<script src='{% static "colorpicker/js/bootstrap-colorpicker.min.js" %}'></script>
	<script>
		// context menu
	    function initContextMenu() {    	
		    $('.label:not(".label-tag-plus"),.box-title').contextmenu({
		    	target: '#context-menu',
		    	onItem: function(context, e) {
		    		action = $(e.target).text();
		    		if (action == '刪除') {
		    			if ($(context).hasClass('box-title')) {
		    				alert('「類別名稱」無法刪除！')
		    			} else {
				    		$(context).remove();
		    			}
		    		} else if (action == '更改文字') {
		    			val = $(context).text();
				        BootstrapDialog.confirm({
				            title: '更改文字',
				            message: '標籤名稱: <input type="text" id="chg-tag" class="form-control">',
				            type: BootstrapDialog.TYPE_WARNING,
				            closable: false,
				            draggable: true,
				            btnCancelLabel: '取消',
				            btnOKLabel: '確認',
				            btnOKClass: 'btn-warning',
				            callback: function(result) {
				                if(result) {
				                	val = $.trim($('#chg-tag').val());
				                	if (val) {
					                    $(context).html(val);
				                	}
				                }
				            }
				        });
		    		}
		    	}
		    })
	    }
		// color picker
		function initColorpicker() {		
		    $('.label:not(".label-tag-plus")').colorpicker().on('changeColor', function(ev) {
				color = ev.color.toHex();
				$(this).css('background-color', color)
		    });
		};

		// generate uuid, ref: http://stackoverflow.com/a/2117523/1105489
		function guid() {
			function s4() {
			    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
			}
			return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
		};

		// render tag_settings
		function renderTagSettigns(tag_settings) {
			var source = $('#template-tag_settings').html(),
				template = Handlebars.compile(source);
			$('#hb-tag_settings').append(template({objects: tag_settings}));
		}
		renderTagSettigns({{tag_settings|safe}});

		// add cat
		$('#add-cat').click(function(){
			renderTagSettigns([{cat:'類別', catid: 'cat-'+guid()}]);
		});

		// remove cat
		$('body').on('click', '.btn-del-cat', function() {
			$(this).closest('.settings').remove();
		});

	    // add tag
	    $('body').on('click', '.label-tag-plus', function() {
	    	$('<a class="label label-default">標籤</a>').uniqueId().insertBefore($(this));
	    	initContextMenu();
	    	initColorpicker();
	    });

	    // save personal settings
	    $('#btn-save').click(function() {
	    	box_con = [];
	    	$('.box').each(function(){
	    		var cat = $(this).find('.box-title').text(),
		    		catid = $(this).find('h3').attr('id'),
		    		tags = $(this).find('.label:not(".label-tag-plus")'),
		    		con = [];
	    		$(tags).each(function() {
	    			var uid = $(this).attr('id'),
		    			tag = $(this).text(),
		    			color = $(this).css('background-color');
	    			con.push([uid, tag, color]);
	    		});
		    	box_con.push({cat: cat, catid: catid, tags: con})
	    	});
	    	tag_settings = JSON.stringify(box_con);
	    	console.log(tag_settings);
	    	postData = {command: 'update_tag_settings', tag_settings: tag_settings};
	    	$.post('{%url "controls" %}', postData, function(resp){
	    		location.reload();
	    	});
	    });

	    // cancel personal settings
	    $('#btn-cancel').click(function() {
	    	if (confirm('確定取消')) {
	    		location.reload();
	    	}
	    });

	    // initiate contextmenu
	    initContextMenu();
	    initColorpicker();
	</script>
{% endblock extra_js %}