<div id='updateLog' class="lightbox">
    <ul>
        <h4>UPDATE</h4>
        <li>修正特殊字元無法標記的狀況(escape special characters of regex)</li>
        <li>增加「標記分佈」功能（測試中）</li>
        <li>標記更改完成</li>
        <li>最大選取字串長度改為"10"</li>
        <li>更名為「中文情感標記」</li>
        <li>使用UnQLite （原用MongoDB），減少系統負擔</li>
        <li>網頁用AJAX改寫，增進效率與加強使用者經驗</li>
        <li>自動記錄工作階段；下次開啟此標記系統會自動回覆到上次最後標中之文章</li>
        <li>改進標記方式：選取字串後，候選標籤會出現在螢幕中心，增加標記速度</li>
        <li>在已標記之詞上<u>點兩下</u>可快速刪除該詞</li>
    </ul>
</div>